// Colors
@darkgrey:#292929;
@lightgrey:#f8f5f2;
@white:#fff;
@black:#000;
@nav-link:#826550;
@nav-bg:#6A4D38;
@toggle-hover:#624530;
@border-top: #886E5B;
@border-bottom: #71543f;
@stats-list-bg: #353535;

// Viewports
@tablet-width:768px;
@desktop-width:1200px;
@mobile-width-only:767px;
